{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    Bienvenue {{app.user.firstname}} dans votre compte 
    
{% endblock %}
